#section_4 {
  display: flex;
  background-color: #2fc8af;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  color: white;
  padding: 10vh 0;
  line-height: 10px;
}
#section_4 span {
  font-size: 5em;
}
#section_4 h2 {
  font-size: 3em;
}
#section_4 p {
  font-size: 1.2em;
}
